<div class="row">
  <div class="col-md-12">
    <p>The Youth Employment Program is an opportunity for high school and college students to learn work skills in the
      local industry. Secondly Hindsite believes the young workers can provide a service to the local industry by
      being able to perform seasonal low risk work assignments. I.e. manual weed work, infrastructure mapping (culvert
      condition, signs, etc.), trash pick-up.</p>
  </div>
  <div class="col-md-6 pull-left">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username">
    </div>

    <div>
      <label for="pass">Password:</label>
      <input type="password" id="pass" name="password" minlength="8" required>
    </div>
    <div class="signInBtn">
      <input type="submit" value="Sign in">
    </div>
  </div>
  <div class="col-md-6 pull-right imagesY">
    <img src="../../assets/yep/CrewsPickingCheat.png" alt="Crews Picking Cheat Grass">
  </div>
</div>