<div class="container">
  <div class="row">
    <span class="title pull-left">
      <a class="btn" routerLink="hindsite">
        <h2><img src="http://www.pngmart.com/files/7/Growing-Plant-PNG-Pic.png" alt="plant"
          style="width:40px;height:35px">Hindsite Inc.</h2>
      </a>
    </span>
    <span class="title pull-right">
      <a class="btn" routerLink="ourStory">
        <h2><img src="http://www.pngmart.com/files/7/Growing-Plant-PNG-Pic.png" alt="plant"
          style="width:40px;height:35px">Our Story</h2>
      </a>
    </span>
    <router-outlet></router-outlet>
    <!-- <app-about-time-line></app-about-time-line>
    <app-about-boss></app-about-boss>
    <app-about-boss-gallery></app-about-boss-gallery> -->
  </div>
</div>