div{
    background-color: #ffffff;
}
h2{
    background-color: #C6B07F;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-size: 30px;
    color: #ffffff;
    font-style: bold;
}