<div class="row">
  <div class="col-md-5 GPS">
    <img src="../../../assets/aboutUs/GPSMapping.png" alt="GPS Mapping" style="width:470px;height:400px;">
    <div class="banner">
      <h3>GPS Mapping and Reporting</h3>
      <p>We map work done and make required reports.</p>
    </div>
  </div>
  <div class="col-md-5 YEP">
    <img src="../../../assets/aboutUs/YEP.png" alt="Youth Employment Program" style="width:470px;height:400px;">
    <div class="banner">
      <h3>Youth Employment Program</h3>
      <p>Hindsite is proud to partner with companies to train youth.</p>
    </div>
  </div>
  <div class="col-md-5 rec">
    <img src="../../../assets/aboutUs/reclamation.png" alt="Reclamation" style="width:470px;height:400px;">
    <div class="banner">
      <h3>Reclamation</h3>
      <p>Help companies use resources in an environmentally responsible way.</p>
    </div>
  </div>
  <div class="col-md-5 weed">
    <img src="../../../assets/aboutUs/weedControl.png" alt="Weed Control" style="width:470px;height:400px;">
    <div class="banner">
      <h3>Weed Control</h3>
      <p>Hand picking for individual plants and spray for larger infestations</p>
    </div>
  </div>
</div>