<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="title pull-left">Land Reclamation Services</span>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <h2>Restorative Planting</h2>
        <p>We use scientific proceedures to restore construction sites, drill sites, etc. to reclaim lan according
          to current government regulations. We make the site come to life again! We are compliant with all OSHA
          and company specific safety training, as well as our own in house safety programs. We are a member in
          good standing with ISN Network and ARIBA .</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
    <img src="https://cdn.pixabay.com/photo/2019/04/03/11/13/wyoming-4100098_960_720.jpg" alt="Wyoming Landscape" style="width:470px;height:400px;">
</div>