<div class="container">
  <div class="office-image">
    <div class="contact-tag">
      <span class="title pull-left">
        <h2><img src="http://www.pngmart.com/files/7/Growing-Plant-PNG-Pic.png" alt="plant"
            style="width:40px;height:35px">Contact</h2>
      </span>
      <div class="details">
        <app-contact-detail></app-contact-detail>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="row contactInfo">
      <div class="col-md-6">
        <app-contact-message></app-contact-message>
      </div>
      <div class="col-md-6">
        <app-contact-located></app-contact-located>
      </div>
    </div>
  </div>
</div>