<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/ourStory/Glade.png" alt="Glade">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/ourStory/GladeStartingOut.png" alt="Glade Starting Out">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/ourStory/gladeWithDrill.png" alt="Glade with Drill">
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <img src="../../../assets/ourStory/gladeWorking.png" alt="Glade Working">
  </div>
</div>