<div class="row">
  <div class="col-md-12">
    <div class="timeCard">
      <h2>Date <br>
        Time Cards DUE</h2>
      <p>Remember to put all information: date, place, type of work, company, hours and your name. Thanks for getting it
        in on time.</p>
    </div>
    <div class="payDay">
      <h2>Date <br>
        Time Cards DUE</h2>
      <p>Make sure you get your paycheck--either from your crew chief or at the office.</p>
    </div>
    <div class="nextTimeCardDue">
      <h2>Date <br>
        Time Cards DUE</h2>
      <p>Remember to put all information: dates, places, type of work, company, hours and your name. Thanks for getting
        it in on time.</p>
    </div>
  </div>
</div>