<div class="row">
  <div class="col-md-12">
    <div class="col-md-6 pull-left">
      <h3>Glade Jones CEO Hindsite Inc.</h3>
      <p>Glade Jones grew up near the small town of LaBarge, Wyoming. Glade went to Northwest Community College in
        Powell,
        Wyoming. He started a landscaping business in 1983. Summers were then dedicated to landscaping, while he
        continued
        his education in the off season. In 1988, he began pesticide application and then started reclamation work. In
        1990, he received a degree in Ag Economics from the University of Wyoming. In 2002 he started to use GPS for
        accountability. By 2005 it became apparent that GPS could be an important tool in the restoration work for
        quality
        control, documentation and verification. In 2009 the Youth Employment Program was started, providing meaningful
        and educational employment for our local youth ages 16-18. Glade has given presentations on native annuals,
        forbs,
        shrubs, GPS use, and reclaimation techniques. He continues to upgrade services and tools to reclaim disturbed
        land
        back to a more natural state. </p>
      <app-about-time-line></app-about-time-line>
    </div>
    <div class="col-md-6 pull-right">
      <app-about-boss-gallery></app-about-boss-gallery>
    </div>
  </div>
</div>