<div class="container">
  <div class="row">
    <span class="title pull-left">
      <h2><img src="http://www.pngmart.com/files/7/Growing-Plant-PNG-Pic.png" alt="plant"
        style="width:40px;height:35px">Services</h2>
    </span>
    <div class="col-md-12">
      <p>Hindsite Inc. is a reclalmation company. We have trained operators, certified pesticide applicators, and crews
        for hand seeding and weeding. We track our work with GPS mapping and have it available for monitoring, tracking,
        regulations documentation,and record keeping.</p>
    </div>
    <app-reclamation></app-reclamation>
    <app-weed-control></app-weed-control>
    <app-monitoring></app-monitoring>
  </div>
</div>