<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <img src="http://www.pngmart.com/files/7/Growing-Plant-PNG-Pic.png" alt="plant" style="width:40px;height:40px">
      <span class="title">Weed Control Service</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <h2>We offer noxious and invasive weed control.</h2>
          <p>We work to keep your leases and pipelines free from noxious weeds and invasive species, without injury
            to native Wyoming growth. We strive to reclaim and reseed properties to make them as natural, if not
            better than before.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="../../../assets/weedSpraying/tractorSpray.PNG" alt="Tractor Spray" style="width:50%; height:50%;">
      <img src="../../../assets/weedSpraying/personSpray.PNG" alt="Person Spray" style="width:50%; height:50%;">
    </div>
  </div>
</div>