h4{
    color: #1BB4E8;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 25px;
}
p{
    font-family: 'Spectral', serif;
    font-size: 20px;
}
li{
    font-family: 'Spectral', serif;
    font-size: 20px;
}
.words{
    padding-top: 5%;
}
img{
    padding: 5%;
}