<div class="row">
  <div class="col-md-12">
    <h4>Started business in 1984 as G&D Landscaping </h4>
    <p>1985 modified first farm drill</p>
    <p>1985-1988 built two Hydro seeders</p>   
    <p>1988 received Commercial pesticide license</p>
    <p>1990 Built second range drill </p>
    <p>1990 BS Ag Economics University of Wyoming </p>
    <p>2000 Started GPS mapping </p>   
    <p>2002 Purchased first commercial range drill </p>
    <p>2003 Changed name to Hindsite </p>
    <p>2009 incorporated to Hindsite Inc. </p>
    <p>2009 started youth programs </p>   
    <p>2010 started growing and collection of seed </p>
    <p>2012 put in greenhouse </p>
    <p>2015 FM-750 GPS </p>
    <p>2016 Launched Website</p>
  </div>
</div>
